.bota_header {
  position: relative;
  &.contact{
    position: relative;
    z-index: 1;
    .container{
      position: relative;
      &:before {
        content: "";
        background: url(../imgs/bg_contact.svg) no-repeat top left;
        width: 610px;
        height: 284px;
        position: absolute;
        left: 0;
        top: 0;
        @media only screen and (max-width:1199px) {
          display: none;
        }
      }
    }
  }
  &.info{
    .bota_header_menu > ul > li > a{
      color: #fff;
    }
  }
  &.faq {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    .bota_header_menu > ul > li > a{
      color: #fff;
    }
    .container{
      position: relative;
      &::before{
        content: "";
        background-image: url(../imgs/b.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: -142px;
        width: 518.55px;
        height: 489.4px;
        top: 0;
        mix-blend-mode: screen;
      }
    }
}
  &_logo {
    display: inline-block;
    position: relative;
    padding-top: 20px;
    img {
      max-width: 82px;
    }
    @media only screen and (max-width:1199px) {
      display: block;
      padding-top: 15px;
      padding-bottom: 12px;
      
    }
    img {
      @media only screen and (max-width:1199px) {
        height: 30px;
        object-fit: scale-down;
      }
    }
  }

  &_menu {
    position: relative;

    > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      > li {
        > a {
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 21px;
          color: #001833;
          padding: 40px 20px;
          display: block;

          &:hover {
            color: #0074f2;
          }
        }
        &:last-child > a{
          padding-right: 0;
        }
      }
    }
  }
  &_right {
    position: relative;
    display: flex;
    justify-content: flex-end;

    img {
      max-width: 509px;
      @media only screen and (max-width:1199px) {
				max-width: 100%;
				margin: auto;
				display: block;
			}
      @media only screen and (max-width:767px) {
				max-width: 90%;
				margin: auto;
				display: block;
			}
    }
  }

}
.bota_menu_mobile{
  @media only screen and (max-width:1199px) {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
    z-index: 999;
  }
}