html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  font-family: $body-font-family;
  font-size: 14px;
  line-height: 25px;
  color: #000;
}

img {
  max-width: 100%;
}

ul li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}
.bota_body_main {
  position: relative;
  margin: auto;
}
.bota_blo_dowload_box{
  .container{
    position: relative;
    height: 799px;
    @media only screen and (max-width:1199px) {
     height: auto;
    }
      &:before {
        content: "";
        background: url(../imgs/bg_header.svg) no-repeat top left;
        width: 960px;
        height: 799px;
        position: absolute;
        bottom: 0;
        left: 0;
        top: -101px;
        z-index: -1;
        @media only screen and (max-width:1199px) {
          display: none;
        }
      }
  }
  .bota_header_banner {
    @media only screen and (max-width:1199px) {
      padding-top: 65px;
    }
    h2, h1 {
      @media only screen and (max-width:1199px) {
        font-size: 28px;
        line-height: 43px;
        max-width: 375px;
        margin-bottom: 20px;
      }
    }
    p {
      @media only screen and (max-width:1199px) {
        font-size: 20px;
        line-height: 37px;
        margin-bottom: 30px;
      }
    }
  }
  @media only screen and (max-width:1199px) {
    background: url(../imgs/bg_header_tabled.svg) no-repeat;
    background-size: contain;
    height: 547px;
    margin-top: -67px;
  }
  @media only screen and (max-width:991px) {
    background: url(../imgs/bg_header_tabled.svg) no-repeat;
    background-size: contain;
    height: 490px;
    margin-top: -67px;
  }
  @media only screen and (max-width:480px) {
    background: url(../imgs/bg_header_mobile.svg) no-repeat;
    height: auto;
    background-size: contain;
    margin-top: -67px;
  }
  .bota_blo_dowload_right {
    padding: 73px 0 0;
    display: flex;
    justify-content: flex-end;
    @media only screen and (max-width:1199px) {
      padding-top: 57px;
    }
    img {
        max-width: 509px;
        @media only screen and (max-width:1199px) {
          margin: auto;
          display: block;
        }
    }
  }
  .bota_blo_dowload_text {
    position: relative;
    padding-top: 119px;
    color: #fff;
    @media only screen and (max-width:480px) {
      color: #263238;
      padding-top: 40px;
    }

    h2,h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 55px;
      margin-bottom: 25px;
      @media only screen and (max-width: 1199px){
        font-size: 28px;
        line-height: 43px;
        max-width: 375px;
        margin-bottom: 20px;
      }
      @media only screen and (max-width:767px) {
        font-size: 29px;
        line-height: 43px;
        margin-bottom: 20px;
      }
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 37px;
      margin: 0;
      margin-bottom: 51px;
      @media only screen and (max-width: 1199px){
        font-size: 20px;
        line-height: 37px;
        margin-bottom: 30px;
      }
      @media only screen and (max-width:767px) {
        font-size: 20px;
    line-height: 37px;
    margin-bottom: 30px;
      }
    }
  }
  .bota_blo_dowload {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 425px;
    margin-left: -12.5px;
    margin-right: -12.5px;
    @media only screen and (max-width:1199px) {
      display: none;
    }

    &_it {
      position: relative;
      padding-left: 12.5px;
      padding-right: 12.5px;
      flex: 1;
      margin-bottom: 25px;
      a{
        background: #002A58;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 12px 19px;
        @media only screen and (max-width:767px) {
          padding: 12px 10px;
        }
        &:hover{
          background: #2c7de9;
        }
      }

      i {
        margin-right: 12px;
      }

      a {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #fff;
        

        span {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          text-transform: uppercase;
          display: block;
          margin-top: 4px;
        }
      }
    }
  }
}
.bota_block_features {
  padding: 54px 0 264px;
  background: linear-gradient(279.49deg, #0079FD 0%, #0065D4 100%);
  border-radius: 150px 150px 0px 0px;
  position: relative;
  @media only screen and (max-width:767px) {
    margin-top: -229px;
    padding-top: 229px;
    margin-bottom: 0;
  }
  .container {
    max-width: 1111px;
    position: relative;
    z-index: 1;
  }
  .icon-blo-features {
    mix-blend-mode: screen;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
}
}

.bota_block_features_title h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  margin-bottom: 59px;
  text-align: center;
}

.bota_block_features_it {
  position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 1px solid #0069DB;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  @media only screen and (max-width:767px) {
    margin-bottom: 20px;
  }

  .bota_block_features_icon {
    width: 50px;
    position: relative;
    float: left;
  }

  .bota_block_features_cons {
    position: relative;
    float: left;
    width: calc(100% - 72px - 95px);
    margin-left: 22px;

    h2 {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #002A58;
      margin-bottom: 10px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      color: #002A58;
      margin: 0;
    }
  }
}
.bota_block_features_count {
  width: 51px;
  height: 51px;
  border-radius: 100%;
  background: #006FE9;
  color: #fff;
  text-align: center;
  line-height: 51px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-left: 40px;
}
.bota_block_features_img {
  img {
    margin: auto;
    display: block;
  }

  position: absolute;
  @media only screen and (max-width:767px) {
    position: relative;
    margin-bottom: 65px;
  }
  
}
.bota_block_table_price {
  padding: 74px 0 100px;
  position: relative;
  @media only screen and (max-width:767px) {
    padding: 70px 0;
  }
  .bota_block_table_price_img {
    position: relative;
    @media only screen and (max-width:767px) {
      margin-bottom: 35px;
    }
    img {
      max-width: 413.2px;
      margin: auto;
      display: block;
      @media only screen and (max-width:1199px) {
				max-width: 100%;
				margin: auto;
				display: block;
			}
      @media only screen and (max-width:767px) {
				max-width: 90%;
				margin: auto;
				display: block;
			}
    }
  }

  .bota_block_table_price_cont {
    position: relative;

    h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 37px;
      color: #002A58;
      margin-bottom: 20px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 29px;
      color: #333;
    }
  }
}

.bota_block_table_price_btn {
  background: #0069DB;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  text-transform: capitalize;
  padding: 8px 39px;
  cursor: pointer;
  a{
    color: #fff;
  }

  &:hover {
    opacity: .8;
  }
}
.bota_mobile_slidebar {
  height: 250px;
  width: 277px;
  z-index: 99999;
  right: 0;
  top: 57px !important;
  visibility: hidden;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  transform: translateX(-300px);
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fafafa;
  border-radius: 0px 0px 0px 20px;
  display: none;

  &.open_sidebar_menu {
    visibility: visible;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    display: block;
  }
}

.opacity_menu.open_opacity {
  content: " ";
  width: 100%;
  height: 100%;
  background: #002A58;
  opacity: 0.6;
  position: absolute;
  top: 57px !important;
  left: 0px;
  z-index: 9999;
}

.bota_mobile_slidebar_body .bota_mobile_menu_container {
  position: relative;
  padding: 16px 29px;

  li {
    display: block;
    width: 100%;

    &:last-child a {
      background: none;
      border: none;
    }

    a {
      display: block;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      color: #001833;
      line-height: 26px;
      padding-bottom: 20px;
      &:hover{
        color:#0069DB;
      }
    }

    &.active a {
      color: #0069DB;
    }
  }
}

.bota_content_main_policy {
  background: #f7f7f7 url(../imgs/bg-qd.jpg) top center no-repeat;
  padding-top: 50px;
}

.bota_poloicy_box {
  position: relative;

  h1 {
    font-size: 36px;
    color: $color-custom-1;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 400;
  }
}

.bota_poloicy_des {
  width: 100%;
  padding-bottom: 20px;
  line-height: 30px;
  text-align: left;
  font-size: 14px;
  color: #777;
  font-weight: 300;
  strong {
    font-size: 20px;
  }
}

.bota_poloicy_accordion {
  position: relative;

  .panel-group {
    padding-bottom: 20px;
  }

  .no-border,
  .panel {
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    background-color: transparent !important;
    text-align: justify;
    border-bottom: 1px #eaeaea solid;
  }

  .panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
  }

  .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .pad-qd {
    padding: 10px 0;
    position: relative;
  }

  .panel-group .panel-heading {
    border-bottom: 0;
  }

  .panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: #ddd;
  }

  .no-line {
    z-index: 9999;
    position: absolute;
    border-bottom: 1px #f7f7f7 solid;
    height: auto;
    width: 40px;
    bottom: -1px;
  }

  .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
  }

  .pad-tittle {
    padding: 5px 0 5px 40px;
    text-align: left;
    line-height: 1.3;
    cursor: pointer;
    color: #24272b;
  }

  .collapsed {
    .ico_plus {
      background: url(../imgs/ico-plus.png) left top no-repeat;
      width: 100%;
      min-height: 27px;
      color: #24272b;
    }
  }

  .ico_plus {
    background: url(../imgs/ico-divide.png) left top no-repeat;
    color: $color-custom-1;
  }


  .panel-body {
    font-size: 16px;
    color: #333;
    padding: 15px;
  }
}

.bota_poloicy_accordio {
  .panel-group .panel-heading+.panel-collapse> {

    .list-group,
    .panel-body {
      border-top: 1px solid #ddd;
    }
  }

  .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
    border-top-color: #eaeaea;
  }
}

.bota_poloicy_accordion .panel-body .main-qd {
  padding-top: 10px;
  padding-left: 25px;
  font-size: 16px;
  color: #777;
  font-weight: 300;
  h2{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #1d2127;
  }
  p {
    color: #777;
    line-height: 24px;
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 14px;
  }
  table {
    margin-bottom: 15px;
    td {
      padding: 10px;
    }
    strong {
      font-weight: bold;
      color: #000;
    }
  }
}

.bota_poloicy_accordio {

  ol,
  ul {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.bota_poloicy_accordion .panel-body .main-qd ul {
  padding: 0 0 0 20px;
  list-style-type: circle;

  li {
    padding: 8px;
    list-style-type: circle;
  }
}
.bota_funtion_hot {
  position: relative;

  .bota_funtion_hot_title h2 {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    display: block;
    color: #000;
    margin-bottom: 50px;
  }

  .bota_funtion_text h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    min-height: 50px;
  }

  .bota_funtion_text1 {
    position: relative;
    margin: 35px auto;
  }

  .bota_funtion_text2 {
    position: relative;
    margin: 120px 66px 95px;
  }

  .bota_funtion_img {
    position: absolute;
    width: 550px;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
.bota_user_manual {
  padding: 55px 0 115px;
  background: #fff;
  border-radius: 150px 150px 0px 0px;
  position: relative;
  margin-top: -145px;
  .container{
    max-width: 1120px;
  }
  .bota_title_main {
    text-align: center;
    margin-bottom: 15px;
  
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      color: #002A58;
      margin: 0;
    }
  }
  
  .bota_description_main {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #002A58;
  }
  .slick-blo-nav {
		display: block;
	  
		.slick-list {
		  transform: unset !important;
	  
		  .slick-track {
			transform: unset !important;
			width: auto !important;
      .item{
        width: 100% !important;
        margin-bottom: 72px;
        cursor: pointer;
        &:before {
          content: "";
          border-left: 1px dashed #999999;
          height: 70%;
          position: absolute;
          left: 17px;
          top: 25px;
      }      
        i{
          position: relative;
          z-index: 1;
          background: #fff;
          border-radius: 100%;
        }
        &.slick-current i {
          box-shadow: 0px 2px 10px rgba(0, 105, 219, 0.4);
          color: #0069DB;
          }
        }
		  }
		}
	}
    .bota_user_manual_item {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 29px;
      color: #002A58;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 7px;
      
      i {
        color: #999999;
        font-size: 21px;
        margin-right: 15px;
    }
    
  }
  .bota_user_manual_content {
    position: relative;
    margin-top: 100px;
  }
  .bota_user_manual_count {
    font-style: normal;
    font-weight: 500;
    font-size: 130px;
    color: #E0E0E0;
    line-height: normal;
}
}
